<strong>{{startedMessage}}</strong>
<p> {{product}}</p>
<p>
  <li style="list-style: none;">
    <ol><strong>Name:</strong> {{ recipientName }}</ol>
    <ol><strong>Street:</strong> {{ recipientStreet }}</ol></ol>
    <ol><strong>Number:</strong> {{ recipientNumber }}</ol></ol>
    <ol><strong>Complement:</strong> {{ recipientComplement }}</ol></ol>
    <ol><strong>City:</strong> {{ recipientCity }}</ol></ol>
    <ol><strong>State:</strong> {{ recipientState }}</ol></ol>
    <ol><strong>Zip Code:</strong> {{ recipientZipCode }}</ol></ol>
  </li>

  <br />
  <p>
    A retirada dos produtos pode ser feita de <strong>08:00</strong> as <strong>18:00</strong>.
  </p>
</p>
